jokeApp/platforms/android/build/
jokeApp/platforms/android/CordovaLib/build/
jokeApp/platforms/ios/build/
jokeApp/platforms/ios/CordovaLib/build/
www.zip
.DS_Store
jokeApp/platforms/android/gradlew
jokeApp/platforms/android/.gradle/
jokeApp/plugins/org.apache.cordova.camera/tests
*.mode1v3
*.perspectivev3
*.pbxuser
jokeApp/platforms/ios/猪猪笑话.xcodeproj/xcuserdata
jokeApp/plugins/cordova-plugin-console/doc
jokeApp/plugins/cordova-plugin-console/tests
jokeApp/plugins/cordova-plugin-device/doc
jokeApp/plugins/cordova-plugin-device/tests
jokeApp/plugins/cordova-plugin-splashscreen/doc
jokeApp/plugins/cordova-plugin-splashscreen/tests
jokeApp/plugins/cordova-plugin-statusbar/doc
jokeApp/plugins/cordova-plugin-statusbar/tests
jokeApp/plugins/org.apache.cordova.camera/doc
jokeApp/plugins/org.apache.cordova.file-transfer/doc
jokeApp/plugins/org.apache.cordova.file/doc
jokeApp/plugins/org.apache.cordova.inappbrowser/doc
jokeApp/plugins/org.apache.cordova.network-information/doc
jokeApp/www/
jokeApp/platforms/android/assets/www
jokeApp/platforms/ios/www
jokeApp/platforms/ios/猪猪笑话.xcodeproj/project.xcworkspace/xcshareddata
jokeApp/platforms/ios/猪猪笑话.xcodeproj/project.xcworkspace/xcuserdata
jokeApp/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
jokeApp/plugins/cordova-plugin-qqsdk/example_www
jokeApp/plugins/org.zy.yuancheng.weibo/example_www
jokeApp/plugins/cn.jpush.phonegap.JPushPlugin/document
jokeApp/plugins/cn.jpush.phonegap.JPushPlugin/example
jokeApp/plugins_code/jpush-phonegap-plugin/document
jokeApp/plugins_code/jpush-phonegap-plugin/example
jokeApp/plugins/cordova-plugin-camera/doc
jokeApp/plugins/cordova-plugin-camera/tests
config.js
