html,body { padding:0; margin:0;font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体"; }
html.icon, html.icon body { width:32em; height:32em; }
html.splash, html.splash body { width:69em; height:69em; background-color: #ef473a; }
.splash-box { padding-top: 400px; text-align: center; color:#fff; font-size:25px; }
.splash-box .pig { margin:0 auto; margin-bottom:20px; }
.pig {
	position:relative;
	background-color: #ef473a;
}
.eye{
	height:25%; width:20%;
	position:absolute; top:20%;
	-webkit-box-shadow:0 -1em 1em rgba(0,0,100,0.15) inset,0 -0.25em 0.25em rgba(0,0,100,0.2) inset, 0 0.125em 0.75em rgba(90,0,0,0.2), 0 0.25em 1em rgba(90,0,0,0.3  );
	box-shadow:0 -1em 1em rgba(0,0,100,0.15) inset,0 -0.25em 0.25em rgba(0,0,100,0.2) inset, 0 0.125em 0.75em rgba(90,0,0,0.2), 0 0.25em 1em rgba(90,0,0,0.3  );
	background:#eee;
}
.eye.left{
	left:25%;
	border-radius:100% 50%;
}
.eye.right{
	right:25%;
	border-radius:50% 100%;
}
.eye:after{
	height:60%; width:50%;
	position:absolute; top:20%;
	border-radius:100%;
	-webkit-box-shadow:0 -0.25em 0.5em #111 inset;
	box-shadow:0 -0.25em 0.5em #111 inset;
	content:'';
	background:#333;
}
.eye.left:after{ left:35%; }
.eye.right:after{ right:35%; }
.nose {
	height:20%; width:40%;
	position:absolute; top:60%; left:30%;
	border-radius:80% 80% 70% 70%;
	-webkit-box-shadow:0 0.25em 1em rgba(90,0,0,0.5), 0 -0.0625em #fff;
	box-shadow:0 0.25em 1em rgba(90,0,0,0.5), 0 -0.0625em #fff;
	background:-webkit-radial-gradient(50% 30%, #fca 20%, #fa9 100%);
	background:radial-gradient(50% 30%, #fca 20%,#fa9 100%);
}
.nose:before, .nose:after {
	height:50%; width:15%;
	position:absolute; top:25%;
	border-radius:100%;
	-webkit-box-shadow:0 0.0625em #fff,0 0 0.5em rgba(90,0,0,0.5);
	box-shadow:0 0.0625em #fff,0 0 0.5em rgba(90,0,0,0.5);
	content:'';
	background:#612;
}
.nose:before { left:25%; }
.nose:after { right:25%; }